name: SonarQube Analysis

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube_analysis:
    name: SonarScan
    runs-on: arc-runner-set
    permissions:
      id-token: write  
      contents: read   
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Import Secrets from HashiCorp Vault
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: https://vault
          role: github-actions-role
          method: jwt
          jwtGithubAudience: https://vault
          secrets: |
            secret/data/applications/prod/sonarqube/github-actions token | SONAR_TOKEN ;
            secret/data/applications/prod/sonarqube/github-actions host_url | SONAR_HOST_URL 
          tlsSkipVerify: true
          kubernetesTokenPath: /var/run/secrets/kubernetes.io/serviceaccount/token
          exportEnv: true
          exportToken: false
          

      - name: VERY UNSAFE debug
        env:
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
        run: |
          find . -print

          
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        with:
           args: >
             "-Dsonar.sources=."
             "-Dsonar.inclusions=**/*.c,**/*.pl,**/*.py,**/*.yaml,**/*.yml"
             "-Dsonar.projectName=Clickceler"
             "-Dsonar.projectKey=clickceler"
             "-Dsonar.sourceEncoding=UTF-8"


  build_job:
    name: Build Application
    needs: sonarqube_analysis # Indique que ce job attend la fin de Sonar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Build
        run: echo "Build can start now, Sonar scan is done"
